<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="at.gofg.sportscomputer.powermanagement"
        version="1.1.0">
    <name>PowerManagement</name>
    <description>PowerManagement plugin for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>cordova,powermanagement</keywords>

    <!-- wp7 -->
    <platform name="wp7">
        <js-module src="www/powermanagement.js" name="device">
            <clobbers target="cordova.plugins.powerManagement" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="PowerManagement">
                <param name="wp-package" value="PowerManagement"/>
            </feature>
        </config-file>

        <source-file src="src/wp/PowerManagement.cs" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <js-module src="www/powermanagement.js" name="device">
            <clobbers target="cordova.plugins.powerManagement" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="PowerManagement">
                <param name="wp-package" value="PowerManagement"/>
            </feature>
        </config-file>

        <source-file src="src/wp/PowerManagement.cs" />
    </platform>

    <!-- android -->
    <platform name="android">
        <js-module src="www/powermanagement.js" name="device">
            <clobbers target="cordova.plugins.powerManagement" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PowerManagement" >
                <param name="android-package" value="org.apache.cordova.powermanagement.PowerManagement"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file src="src/android/PowerManagement.java" target-dir="src/org/apache/cordova/powermanagement" />
    </platform>
</plugin>
